body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, fieldset, form, menu, select, textarea, input, button { margin: 0; padding: 0; }

ul { list-style: none; }

a { background-color: transparent; text-decoration: none; }

a:hover { text-decoration: none; }

img, input, button { border: 0; outline: 0; }

input, textarea { border-radius: 0; outline: 0; }

input, textarea, select, button, a:active, a:hover { outline: 0; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; }

/* FONTS */

@font-face { font-family: 'CenturyGothicRegular'; src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot"); src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?iefix") format("eot"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.svg#webfont") format("svg"); }

@font-face { font-family: 'CenturyGothicBold'; src: url("../fonts/CenturyGothicBold/CenturyGothicBold.eot"); src: url("../fonts/CenturyGothicBold/CenturyGothicBold.eot?iefix") format("eot"), url("../fonts/CenturyGothicBold/CenturyGothicBold.woff") format("woff"), url("../fonts/CenturyGothicBold/CenturyGothicBold.ttf") format("truetype"), url("../fonts/CenturyGothicBold/CenturyGothicBold.svg#webfont") format("svg"); }

/* GRID */
.grid_wrap:before, .grid_wrap:after { content: ""; display: table; }

.grid_wrap:after { clear: both; }

.grid_coll_10, .grid_coll_15, .grid_coll_20, .grid_coll_25, .grid_coll_30, .grid_coll_33, .grid_coll_40, .grid_coll_50, .grid_coll_60, .grid_coll_70, .grid_coll_75, .grid_coll_80, .grid_coll_85, .grid_coll_90, .grid_coll_100 { float: left; }

.grid_coll_10 { width: 10%; }

.grid_coll_15 { width: 15%; }

.grid_coll_20 { width: 20%; }

.grid_coll_25 { width: 25%; }

.grid_coll_30 { width: 30%; }

.grid_coll_33 { width: 33.33%; }

.grid_coll_40 { width: 40%; }

.grid_coll_50 { width: 50%; }

.grid_coll_60 { width: 60%; }

.grid_coll_70 { width: 70%; }

.grid_coll_75 { width: 75%; }

.grid_coll_80 { width: 80%; }

.grid_coll_85 { width: 85%; }

.grid_coll_90 { width: 90%; }

.grid_coll_100 { width: 100%; }

/* GENERAL */
body { font-family: "CenturyGothicRegular"; font-size: 16px; line-height: 1.5; color: #fff; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a { color: #195dcd; }

header, section, footer { position: relative; width: 100%; min-width: 100px; }

.wrapper { position: relative; max-width: 1200px; margin: 0 auto; padding-left: 10px; padding-right: 10px; }

input[type="text"]::-webkit-input-placeholder, input[type="text"]::-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="text"]:-ms-input-placeholder { color: #5c6770; }

input[type="submit"] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

/* for number input */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

input[type="number"] { -moz-appearance: textfield; }

input[type="number"]:hover, input[type="number"]:focus { -moz-appearance: number-input; }

span.strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* no scroll & gotop */
html.no-scrollt, body.no-scrollt { height: 100%; width: 100%; max-height: 100%; max-width: 100%; overflow: hidden; }

/* no scroll */
html.no-scroll, body.no-scroll { width: 100%; max-width: 100%; overflow: hidden; }

/* COMMON */
.btn_style_1 { display: inline-block; cursor: pointer; user-select: none; text-transform: uppercase; font-size: 16px; color: #fff; text-align: center; background: #195DCD; padding: 5px 15px; border: 2px solid transparent; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.btn_style_1:hover { color: #195DCD; background: #fff; border: 2px solid #195DCD; }

.btn_style_2 { display: inline-block; cursor: pointer; user-select: none; text-transform: uppercase; font-size: 16px; color: #195DCD; text-align: center; background: #fff; padding: 5px 15px; border: 2px solid transparent; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.btn_style_2:hover { color: #fff; background: #195DCD; border: 2px solid #fff; }

/* FORM */
.form_row { text-align: left; }

.form_row:not(:last-child) { margin-bottom: 22px; }

.form_title { font-size: 20px; margin-top: 5px; margin-bottom: 20px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left; }

.form_row_descrip { display: inline-block; margin-bottom: 5px; font-weight: bold; }

.input_text { width: 100%; border: 1px solid #C7CACC; -webkit-border-radius: 2px; border-radius: 2px; background-clip: padding-box; padding: 5px 10px; font-size: 16px; height: 45px; color: #2F2F31; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.input_text:focus { border: 1px solid #000; }



.textarea_form { width: 100%; border: 1px solid #C7CACC; -webkit-border-radius: 2px; border-radius: 2px; background-clip: padding-box; padding: 10px; font-size: 16px; resize: none; color: #2F2F31; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; height: 150px; }

.textarea_form:focus { border: 1px solid #000; }

.input_submit { display: block; width: 100%; cursor: pointer; user-select: none; font-size: 16px; color: #fff; text-align: center; background: #195DCD; padding: 10px 15px; border: 2px solid transparent; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.input_submit:hover { color: #195DCD; background: #fff; border: 2px solid #195DCD; }

.input_file { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; user-select: none; background: url("../img/decor_9.png") left center no-repeat; user-select: none; }

.input_file input { display: none; }

.input_file span { font-size: 18px; color: #2E8CC7; border-bottom: 2px dotted #2E8CC7; }

/* main_wrapper */
.main_wrapper { -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; -moz-transform: translateX(0px); -o-transform: translateX(0px); -ms-transform: translateX(0px); -webkit-transform: translateX(0px); transform: translateX(0px); }

.main_wrapper.open_nav { -moz-transform: translateX(-240px); -o-transform: translateX(-240px); -ms-transform: translateX(-240px); -webkit-transform: translateX(-240px); transform: translateX(-240px); }

/* HEADER */
header { position: fixed; background: #195DCD; top: 0; left: 0; right: 0; z-index: 1000; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }

header .wrapper { padding-top: 20px; padding-bottom: 20px; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }

header .wrapper:before, header .wrapper:after { content: ""; display: table; }

header .wrapper:after { clear: both; }

header.float { -webkit-box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); -moz-box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); -ms-box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); }

header.float .wrapper { padding-top: 15px; padding-bottom: 15px; }

header.float .wrapper:before, header.float .wrapper:after { content: ""; display: table; }

header.float .wrapper:after { clear: both; }

header.float .header__logo { width: 230px; }

header.float .header__action_wrap { margin-top: 10px; }

.float_block_header { background: #195DCD; min-height: 80px; }

.header__logo_wrap { float: left; }

.header__logo { -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; display: block; width: 240px; }

.header__logo img { display: block; width: 100%; height: auto; }

.header__right { float: right; text-align: right; }

.header__nav_btn { position: relative; display: none; width: 36px; height: 36px; cursor: pointer; user-select: none; float: right; overflow: hidden; border: 1px solid #fff; -webkit-border-radius: 2px; border-radius: 2px; background-clip: padding-box; }

.header__nav_btn span:first-of-type { top: 6px; margin-top: 0; }

.header__nav_btn span { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; height: 4px; width: 28px; background-color: #fff; position: absolute; left: 50%; margin-left: -14px; top: 50%; margin-top: -2px; }

.header__nav_btn span:last-of-type { top: auto; bottom: 6px; }

.header__nav_btn.open_nav span:first-of-type { transform: rotate(45deg); top: 50%; margin-top: -2px; }

.header__nav_btn.open_nav span:nth-child(2) { left: 200%; }

.header__nav_btn.open_nav span:last-of-type { transform: rotate(-45deg); top: auto; bottom: 50%; margin-bottom: -2px; }

.header__nav li { display: inline-block; }

.header__nav li:not(:last-child) { margin-right: 15px; }

.header__nav a { position: relative; display: block; color: #fff; font-size: 16px; text-transform: uppercase; font-weight: bold; padding: 4px 0; }

.header__nav a:before { opacity: 0; content: ""; position: absolute; background: #fff; left: 0px; width: 0%; height: 2px; bottom: 2px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__nav a:hover:before { opacity: 1; width: 100%; }

.header__nav li.current-menu-item a:before { opacity: 1; width: 100%; }

.header__action_wrap { margin-top: 15px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__action__phone { display: inline-block; vertical-align: middle; color: #fff; }

.header__action__phone:hover { text-decoration: underline; }

.header__action__callback { display: inline-block; vertical-align: middle; text-transform: uppercase; border: 1px solid #fff; padding: 5px 10px; margin-left: 30px; cursor: pointer; user-select: none; word-wrap: none; -webkit-border-radius: 2px; border-radius: 2px; background-clip: padding-box; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.header__action__callback:hover { background: #3974D4; }

.header__action_mobile___wrap { display: none; margin-bottom: 20px; margin-top: 30px; }

.header__action_mobile___wrap .header__action__callback { margin-top: 15px; font-size: 14px; }

/* main_screen */
.main_screen { background: url("../img/home/sign_bg.png") -130px 50px no-repeat, url("../img/home/sign_bg_r.png") right top no-repeat, #195DCD; }

.main_screen .wrapper { color: #fff; }

.main_screen .decor_line_top { background: none; }

.main_screen__wrap { padding-top: 50px; padding-bottom: 100px; }

.main_screen__wrap .section_subtitle { margin-top: 24px; }

.main_screen__slogan { text-align: center; }

.main_screen__slogan * { line-height: 1.1; font-size: 96px; font-weight: normal; }

.main_screen__text { position: relative; margin-top: 20px; font-size: 18px; }

#write_text { min-height: 24px; }

/* top_screen */
.top_screen { background: #195DCD; }

.top_screen .wrapper { padding-top: 60px; padding-bottom: 60px; }

.top_screen .section_title { min-height: 44px; }

.top_screen .section_title * { font-size: 42px; }

/* about_page */
.about_page { background: #195DCD; }

.about_page .wrapper { padding-top: 10px; padding-bottom: 40px; max-width: 960px; text-align: center; }

.about_page .wrapper p { font-size: 18px; margin-bottom: 15px; }

.about_page .wrapper h2 { font-size: 36px; font-weight: normal; margin-bottom: 5px; }

/* about_page__question */
.about_page__question { margin-top: 20px; margin-bottom: 20px; text-align: left; -webkit-box-shadow: 2px 2px 4px #164696; -moz-box-shadow: 2px 2px 4px #164696; -ms-box-shadow: 2px 2px 4px #164696; box-shadow: 2px 2px 4px #164696; }

.about_page__question__row { padding: 10px; }

.about_page__question__row.title { background: #FFF; color: #195dcd; text-transform: uppercase; font-weight: bold; }

.about_page__question__row.text { background: #1756BE; }

.decor_line { position: relative; height: 50px; width: 100%; }

.decor_line svg { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 101%; width: 100%; }

.decor_line_top { background: #195DCD; }

.decor_line_top svg { fill: #fff; }

.decor_line_bottom { background: #fff; }

.decor_line_bottom svg { fill: #195DCD; }

.decor_line_both_top { background: #195DCD; overflow: hidden; }

.decor_line_both_top svg { fill: #fff; stroke: #195dcd; }

/* other */
.section_title { text-align: center; }

.section_title * { display: block; text-transform: uppercase; font-size: 60px; font-weight: normal; line-height: 1.2; }

.section_subtitle { text-align: center; margin-top: 12px; }

.section_subtitle * { display: block; font-size: 18px; }

.decor_text_underline { margin-top: 20px; display: block; width: 140px; margin-left: auto; margin-right: auto; height: 2px; background: #fff; }

.decor_text_underline-blue { background: #195DCD; }

/* our_services */
.our_services .wrapper { padding-top: 80px; padding-bottom: 80px; color: #222; }

.our_services__wrap { margin-top: 45px; }

.our_services__item { text-align: center; padding: 0 15px; margin: 10px 0; }

.our_services__item .title { display: inline-block; margin-top: 25px; color: #195DCD; font-size: 20px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border-bottom: 1px solid transparent; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.our_services__item .title:hover { border-bottom: 1px dashed #195DCD; }

.our_services__item .text { margin-top: 20px; font-size: 16px; }

.our_services__img { width: 150px; height: 150px; margin: 0 auto; background: #195DCD; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; overflow: hidden; }

.our_services__img a { display: block; width: 100%; height: 100%; }

.our_services__img img { display: block; text-align: center; width: 100%; }

.our_services__img img:hover { -webkit-animation: swing 1s; animation: swing 1s; }

/* about_us */
.about_us { background: #195DCD; }

.about_us .wrapper { padding-top: 80px; padding-bottom: 80px; }

.about_us__wrap { max-width: 750px; margin: 0 auto; margin-top: 40px; text-align: center; }

/* reviews */
.reviews .wrapper { padding-top: 80px; padding-bottom: 50px; color: #222; }

.reviews .wrapper .btn_style_1 { display: block; width: 150px; margin: 0 auto; margin-top: 30px; }

.reviews__wrap { position: relative; margin-top: 40px; }

.reviews__wrap .reviews__slider { margin: 0px 30px; }

.reviews__item:before, .reviews__item:after { content: ""; display: table; }

.reviews__item:after { clear: both; }

.reviews__item__img { width: 170px; height: 170px; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; overflow: hidden; background: #195DCD; float: left; }

.reviews__item__img img { width: 100%; height: auto; text-align: center; }

.reviews__item__text { margin-left: 190px; margin-top: 20px; }

.reviews__item__text p { font-weight: bold; font-style: italic; font-size: 18px; line-height: 2em; }

.slick-dots { margin-top: 10px; margin-bottom: 10px; text-align: center; }

.slick-dots li { display: inline-block; margin: 0 7px; }

.slick-dots li.slick-active button { background: #195DCD; }

.slick-dots button { display: block; font-size: 0; width: 13px; height: 13px; cursor: pointer; user-select: none; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; background: rgba(25, 93, 205, 0.5); -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

/* SLIDER */
.slider_prev, .slider_next { position: absolute; top: 50%; margin-top: -20px; font-family: 'FontAwesome'; width: 15px; height: 40px; display: block; font-size: 40px; cursor: pointer; user-select: none; line-height: 1; }

.slider_prev:before, .slider_next:before { color: #195DCD; }

.slider_prev { left: 0; }

.slider_prev:before { content: "\f104"; }

.slider_next { right: 0; }

.slider_next:before { content: "\f105"; }

.slick-slide { outline: none; }

/* our_partners */
.our_partners { background: #195DCD; }

.our_partners .wrapper { padding-top: 80px; padding-bottom: 60px; }

.our_partners .wrapper .btn_style_2 { display: block; width: 150px; margin: 0 auto; margin-top: 25px; }

.our_partners__wrap { position: relative; margin-top: 40px; }

.our_partners__wrap .slider_prev:before, .our_partners__wrap .slider_next:before { color: #fff; }

.our_partners__slider { margin-left: 40px; margin-right: 40px; }

.our_partners__slider .slick-dots li.slick-active button { background: #fff; }

.our_partners__slider .slick-dots button { background: rgba(255, 255, 255, 0.63); }

.our_partners__item:before, .our_partners__item:after { content: ""; display: table; }

.our_partners__item:after { clear: both; }

.our_partners__item__img { width: 170px; height: 170px; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; overflow: hidden; float: left; }

.our_partners__item__img img { width: 100%; height: auto; text-align: center; }

.our_partners__item__text { margin-left: 190px; margin-top: 20px; }

.our_partners__item__text p { font-weight: bold; font-style: italic; font-size: 18px; line-height: 2em; }

.our_partners__item__text a { color: #fff; text-decoration: underline; }

/* our_clients */
.our_clients .wrapper { padding-top: 80px; padding-bottom: 60px; color: #222; }

.our_clients__wrap { margin-top: 20px; padding-top: 40px; overflow: hidden; text-align: center; }

.our_clients__wrap .grid_wrap { margin: 0 -10px; }

.our_clients__wrap div[class*="grid_coll"] { display: inline-block; float: none; margin-bottom: 30px; vertical-align: middle; margin-right: -5px; }

.our_clients__item { position: relative; padding: 0 10px; }

.our_clients__item a { display: inline-block; width: 100%; }

.our_clients__item img { width: 100%; height: auto; }

.our_clients__item:hover .our_clients__item__descrip { opacity: 1; }

.our_clients__item__descrip { position: absolute; user-select: none; pointer-events: none; bottom: 100%; margin-bottom: 10px; z-index: 10; left: 0%; right: 0%; color: #fff; text-align: center; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; opacity: 0; text-decoration: none; }

.our_clients__item__descrip span { padding: 3px 8px; display: inline-block; background-color: #195dcd; }

.our_clients__item__descrip:after { content: ""; position: absolute; bottom: -5px; left: 50%; margin-left: -5px; width: 0; height: 0; border-style: solid; border-width: 5px 5px 0 5px; border-color: #195DCD transparent transparent transparent; }

/* footer__socials */
.footer__socials .wrapper { padding-top: 20px; padding-bottom: 20px; text-align: center; }

.footer__socials_item { display: inline-block; width: 60px; height: 60px; margin: 0 5px; background: #195DCD; color: #fff; line-height: 60px; text-align: center; font-size: 26px; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; transition: 0.2s; }

.footer__socials_item:hover { -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; }



/* FOOTER */
footer { background: #195DCD; }

footer .wrapper { padding-top: 15px; padding-bottom: 15px; }

footer .wrapper:before, footer .wrapper:after { content: ""; display: table; }

footer .wrapper:after { clear: both; }

.footer__phone { float: left; }

.footer__phone a { color: #fff; }

.footer__phone a:hover { border-bottom: 1px dotted #fff; }

.footer__right { float: right; }

.callback .modalWindow { max-width: 340px; padding-bottom: 20px; }

/* */
.services_page .wrapper { padding-top: 80px; padding-bottom: 80px; max-width: 820px; text-align: center; }

.services_page .wrapper p { font-size: 18px; margin-bottom: 15px; }

.services_page_title { text-align: center; margin-bottom: 25px; }

.services_page_title * { font-weight: normal; font-size: 60px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.2; }

.services_page_b1 .wrapper { color: #222; }

.services_page_know_price { margin-top: 25px; text-transform: none; font-size: 20px; }

.services_page_b2 { background: #195DCD; }

.services_page_b2 .wrapper { padding-bottom: 120px; }

.services_page_b2 .wrapper .services_page_decor { height: 60px; overflow: hidden; position: absolute; bottom: 0px; left: 50%; margin-left: -120px; }

.services_page_b2 .wrapper .services_page_decor svg { fill: #fff; }

.services_page_b3 .wrapper { color: #222; }

.services_page_b4 { background: #195DCD; margin-top: 40px; }

.services_page_b4 .wrapper .services_page_decor { height: 60px; overflow: hidden; position: absolute; top: -60px; left: 50%; margin-left: -60px; }

.services_page_b4 .wrapper .services_page_decor svg { fill: #195DCD; }

/* price_page */
.price_page .wrapper p { margin-bottom: 10px; }

.price_page_b1 { background: #195DCD; }

.price_page_b1 .wrapper { padding-top: 10px; padding-bottom: 40px; }

.price_page__prices { margin-top: 15px; margin-bottom: 20px; overflow: hidden; }

.price_page__prices .grid_wrap { margin: 0 -15px; }

.price_page__prices .price_page__item table { height: 230px; }

.price_page__prices .price_page__item table tbody tr:nth-child(1) { height: 120px; }

.price_page__item { text-align: center; }

.price_page__item table { table-layout: fixed; width: 100%; border-collapse: collapse; }

.price_page__item table thead { font-weight: bold; }

.price_page__item table td { border: 1px solid #fff; padding: 5px; }

.price_page__prices_2 { margin-top: 10px; }

.price_page__prices_2 .grid_wrap { margin: 0 -15px; }

.price_page__prices_2 .price_page__item table { height: 140px; }

.price_page__item { padding: 0 15px; margin-bottom: 10px; }

.price_page_order_btn__wrap { text-align: center; margin-top: 30px; }

.price_page_order_btn__wrap .price_page_order_btn { font-size: 16px; width: 150px; }

.price_page__list_wy { margin-top: 100px; }

.price_page__list { margin-top: 50px; }

.price_page__list li { margin-bottom: 40px; }

.price_page__list__ico { position: relative; margin: 0 auto; width: 150px; height: 150px; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; background: #fff; text-align: center; top: 50%; z-index: 10; }

.price_page__list__ico:after { content: ''; position: absolute; top: 100%; left: 50%; display: block; height: 150px; width: 0px; z-index: 1; border-left: 1px dashed #fff; }

.price_page__list li:last-child .price_page__list__ico:after { display: none; }

.price_page__list__title { font-weight: normal; font-size: 24px; margin-bottom: 15px; }

.price_page__list__title:after { content: ""; display: block; margin-top: 4px; height: 2px; width: 70px; background: #fff; }

.price_page__list__ico i { position: absolute; top: 50%; left: 0; right: 0; margin-top: -0.5em; z-index: 1; font-size: 50px; color: #E74C3C; }

.price_page__list__ico i:hover { -webkit-animation: swing 1s; animation: swing 1s; }

/* consultation */
.consultation { background: #195DCD; }

.consultation .wrapper { padding-top: 80px; padding-bottom: 80px; }

.consultation .section_title * { text-transform: none; }

.consultation__form__wrap { max-width: 500px; margin: 0 auto; margin-top: 60px; }

.consultation__form__wrap .textarea_form { height: 200px; }

.consultation__form__wrap .form_row { margin-bottom: 15px; }

.consultation__form__wrap .input_text, .consultation__form__wrap .textarea_form { border: none; font-size: 16px; font-weight: normal; }

.consultation__form__wrap .input_submit { background: #7BC0C2; border: none; }

.consultation__form__wrap .input_submit:hover { color: #fff; background: rgba(123, 192, 194, 0.9); }

/* partners_page */
.partners_page .wrapper { padding-top: 80px; padding-bottom: 80px; }

.partners_page_b1 .wrapper { color: #222; max-width: 800px; }

.partners_page_b1 .wrapper p { margin-bottom: 15px; text-align: justify; }

.partners_page_b1 .wrapper .section_title * { text-transform: none; font-size: 24px; }

.partners_page_b2 .wrapper { color: #222; max-width: 800px; }

.partners_page_b2 .wrapper p { margin-bottom: 15px; text-align: justify; }

.partners_page_b2 .wrapper .section_title * { text-transform: none; font-size: 24px; font-weight: normal; }

.partners_page_b2 .wrapper table { table-layout: fixed; width: 100%; border-collapse: collapse; text-align: center; margin: 0 auto; }

.partners_page_b2 .wrapper table thead { font-weight: bold; }

.partners_page_b2 .wrapper table td { border: 1px solid #767676; padding: 5px; }

.partners_page_b3 .section_title * { font-size: 40px; }

.simple_page {

}
.simple_page .wrapper {
	padding-top: 80px;
	padding-bottom: 80px;
	color: #222;
}
.simple_page .wrapper p {
	margin-bottom: 10px;
}

/* blog_page_archive */
.blog_archive .wrapper { padding-top: 80px; padding-bottom: 80px; color: #222; }

.blog_archive__item { position: relative; padding-left: 80px; }

.blog_archive__item:not(:last-child) { margin-bottom: 80px; }

.blog_archive__item__title_wrap { min-height: 70px; }

.blog_archive__item__title_wrap .post_title { display: block; margin-top: 5px; font-weight: normal; line-height: 1.2; }

.blog_archive__item__title_wrap .post_title * { font-size: 24px; color: #195DCD; }

.blog_archive__item__title_wrap .post_date { font-style: italic; color: #666; font-size: 14px; }

.blog_archive__item__text_wrap { background: #195DCD; padding: 5px; color: #fff; }

.blog_archive__item__text_wrap p { margin-bottom: 10px; }

.blog_archive__item__text_wrap a { color: #fff; text-decoration: underline; }

.blog_archive__read_mode { color: #195DCD; display: inline-block; margin-top: 10px; }

.blog_archive__read_mode:hover { text-decoration: underline; }

.blog_archive__item__social_wrap { text-align: center; margin-top: 15px; }

.blog_archive__item__social_wrap .title { display: block; text-align: center; font-size: 14px; color: #222; }

.social_share { margin-top: 5px; margin-bottom: 5px; text-align: center; }

.social_share li { position: relative; display: inline-block; }

.social_share a { position: relative; display: block; width: 36px; height: 36px; background: #195DCD; color: #fff; line-height: 36px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.social_share a i { color: #fff; }

.social_share a:hover { background: #477DD7; }

.social_share a:hover + span { opacity: 1; }

.social_share a + span { position: absolute; user-select: none; pointer-events: none; bottom: 100%; width: 210px; background: #195DCD; margin-left: -105px; margin-bottom: 10px; z-index: 10; left: 50%; color: #fff; text-align: center; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; text-align: center; opacity: 0; text-decoration: none; }

.social_share a + span p { color: #fff; text-align: center; }

.social_share a + span:after { content: ""; position: absolute; bottom: -5px; left: 50%; margin-left: -5px; width: 0; height: 0; border-style: solid; border-width: 5px 5px 0 5px; border-color: #195DCD transparent transparent transparent; }

.blog__sidebar { margin-left: 30px; color: #222; }

.blog__sidebar__item .title { display: block; font-size: 18px; color: #222; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom: 12px; }

.blog__sidebar__item li { position: relative; padding-left: 10px; margin-bottom: 5px; }

.blog__sidebar__item li.active a { text-decoration: underline; color: #195DCD;  }

.blog__sidebar__item li:before { content: ""; position: absolute; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; left: 0; top: 50%; margin-top: -2px; width: 5px; height: 5px; background: #195DCD; }

.blog__sidebar__item a { color: #222; }

.blog__sidebar__item a:hover { color: #195DCD; text-decoration: underline; }

.blog__sidebar__item:not(:last-child) { margin-bottom: 40px; }

/* go_top_btn */
.blog_archive__item__title_wrap__post_icon { position: absolute; left: 0; top: 0; display: block; margin-top: 15px; margin-bottom: 15px; width: 52px; font-size: 16px; line-height: 30px; height: 30px; text-align: center; background: #195dcd; color: #fff; }

.blog_archive__item__title_wrap__post_icon:before, .blog_archive__item__title_wrap__post_icon:after { content: " "; width: 0; height: 0; left: 0; position: absolute; }

.blog_archive__item__title_wrap__post_icon:before { border-bottom: 15px solid; border-left: 26px solid transparent; border-right: 26px solid transparent; top: -15px; border-bottom-color: #195dcd; }

.blog_archive__item__title_wrap__post_icon:after { bottom: -15px; border-top: 15px solid; border-left: 26px solid transparent; border-right: 26px solid transparent; border-top-color: #195dcd; }

/* blog_single */
.blog_single .wrapper { padding-top: 80px; padding-bottom: 80px; }

/* go_top_btn */
.go_top_btn { position: fixed; bottom: -20px; right: 20px; font-size: 16px; text-align: center; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; width: 21px; opacity: 0; cursor: pointer; height: 36px; line-height: 36px; background: #477dd7; z-index: 100; }

.go_top_btn.show { opacity: 1; bottom: 20px; }

.go_top_btn:before, .go_top_btn:after { content: " "; width: 0; height: 0; top: 0; position: absolute; }

.go_top_btn:before { border-right: 10px solid; border-top: 18px solid transparent; border-bottom: 18px solid transparent; left: -10px; border-right-color: #477dd7 !important; }

.go_top_btn:after { border-left: 10px solid; border-top: 18px solid transparent; border-bottom: 18px solid transparent; right: -10px; border-left-color: #477dd7 !important; }

/* scroll style */
::-webkit-scrollbar-button { background-repeat: no-repeat; width: 6px; height: 0px; }

::-webkit-scrollbar-track { background-color: #FFEFFF; }

::-webkit-scrollbar-thumb { -webkit-border-radius: 5px; border-radius: 5px; background-color: #3d86ff; background-position: center; background-repeat: no-repeat; }

::-webkit-resizer { background-repeat: no-repeat; width: 7px; height: 0px; }

::-webkit-scrollbar { width: 6px; }

/* animations */
@keyframes bounce { 0% { 20%, 53%, 80%, to { }
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0); }
  40% { 43% { }
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% { transform: translate3d(0, -4px, 0); } }

@-webkit-keyframes swing { 20% { -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% { -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% { -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% { -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  100% { -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }

@keyframes swing { 20% { -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% { -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% { -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% { -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  100% { -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }

/* modalOverlay */
.modalbtn { cursor: pointer; }

.modalOverlay { display: none; position: fixed; top: 0; bottom: 0; right: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.58); z-index: 1000; }

/* modalWindowWrap */
.modalWindowWrap { display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; text-align: center; overflow-x: hidden; overflow-y: auto; z-index: 1100; }

.modalTable { display: table; height: 100%; width: 100%; }

.modalCell { display: table-cell; vertical-align: middle; padding: 50px 10px; }

.modalWindow { position: relative; color: #000; background: #fff; padding: 10px; max-width: 600px; margin: auto; }

.modalWindowClose { display: block; position: absolute; top: -40px; right: 0; width: 32px; height: 32px; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.modalWindowClose:hover { -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.modalWindowClose:before, .modalWindowClose:after { position: absolute; left: 15px; content: ' '; height: 33px; width: 4px; -webkit-border-radius: 3px; border-radius: 3px; background-clip: padding-box; background-color: #fff; }

.modalWindowClose:before { -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.modalWindowClose:after { -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

/* FOR WP */ 
img {
  max-width: 100%;
  height: auto;
}
img.aligncenter {
  position: relative;
  display: block;
  margin: 15px auto;
}
img.alignright {
  position: relative;
  z-index: 10;
  float: right;
  margin: 11px 0 11px 11px;
}
img.alignleft {
  position: relative;
  z-index: 10;
  float: left;
  margin: 11px 11px 11px 0px;
}

.blog_single__comment_wrap {
	color: #222;
	margin-top: 50px;
}






.comments-area label {
  display: block;
}
.comments-area .comment-form-comment textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.comments-area .comments-title,
.comments-area .comment-reply-title {
  display: none;
}
.comments-area .comment-list {
  margin-bottom: 50px;
  padding: 0;
}
.comment-list li {
  display: block;
  margin-bottom: 15px;
}
.comment-list .comment-author {
  padding: 10px;
  color: #fff;
  background: #195DCD;
}
.comment-list .comment-meta {
	
}
.comments-area .submit {
	display: block;
    font-size: 16px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-right: 25px;
    background-position: 55px 22px;
    background-repeat: no-repeat;
    background-color: #195DCD;
    color: #fff;
    padding-left: 25px;
    margin-top: 5px;
}
.comments-area .comment-metadata {
	padding: 10px;
	background: white;
}
.comment-metadata {
	border-bottom: 1px dotted #195DCD;
}
.comments-area .comment-metadata a {
	color: #333;
}

.comments-area .comment-content {
	padding: 10px;

}
.comments-area .comment-body {

}

.comments-area textarea {
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-size: 18px;
}
.comments-area .comment-form-comment {
	margin-top: 20px;
}
.comments-area input[type="text"],
.comments-area input[type="email"]{
	width: 100%;
    border: 1px solid #a9a9a9;
    padding: 5px 10px;
    font-size: 18px;
    height: 40px;
    color: #2F2F31;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 5px;
    margin-bottom: 21px;
}










/***** MEDIA *****/
@media only screen and (max-width: 1050px) { .our_services__wrap .grid_coll_25 { width: 50%; margin-bottom: 15px; }
  /* section_title */
  .section_title * { font-size: 50px; }
  .main_screen__slogan * { font-size: 80px; }
  .price_page__prices .grid_coll_33 { width: 100%; margin-bottom: 30px; }
  .price_page__item table { height: auto !important; }
  .price_page__item table tbody tr:nth-child(1) { height: auto !important; } }

@media only screen and (max-width: 850px) { /* header */
  .header__nav_btn { display: inline-block; }
  .header__action_mobile___wrap { display: block; }
  html, body { width: 100%; height: 100%; overflow-x: hidden; }
  header, header.float { -webkit-box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); -moz-box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); -ms-box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); box-shadow: 0px 2px 4px rgba(25, 93, 205, 0.4); height: 80px; }
  header .wrapper, header.float .wrapper { padding-top: 10px; padding-bottom: 10px; }
  header .header__right, header.float .header__right { margin-top: 10px; }
  header .header__logo, header.float .header__logo { width: 180px; }
  header .header__action_wrap, header.float .header__action_wrap { margin-top: 0; display: inline-block; vertical-align: top; margin-right: 20px; }
  .header__nav_wrap { width: 240px; position: fixed; right: 0; bottom: 0; overflow: auto; border-top: 2px solid #477dd7; overflow: auto; top: 80px; background: #195dcd url("../img/home/sign_bg.png") -130px 50px no-repeat; padding: 20px 15px; z-index: 50; -webkit-box-shadow: -4px 0px 4px rgba(25, 93, 205, 0.2); -moz-box-shadow: -4px 0px 4px rgba(25, 93, 205, 0.2); -ms-box-shadow: -4px 0px 4px rgba(25, 93, 205, 0.2); box-shadow: -4px 0px 4px rgba(25, 93, 205, 0.2); -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; -moz-transform: translateX(240px); -o-transform: translateX(240px); -ms-transform: translateX(240px); -webkit-transform: translateX(240px); transform: translateX(240px); }
  .header__nav_wrap.open_nav { -moz-transform: translateX(0px); -o-transform: translateX(0px); -ms-transform: translateX(0px); -webkit-transform: translateX(0px); transform: translateX(0px); }
  .header__nav li { display: block; margin-right: 0 !important; margin-bottom: 10px; }
  .header__nav a { display: inline-block; }
  /* main screen */
  .main_screen__wrap { padding-bottom: 60px; }
  .go_top_btn { display: none; }
  .price_page__prices_2 .grid_coll_50 { width: 100%; margin-bottom: 30px; }
  .blog_archive [class*="grid_coll"] { width: 100%; }
  .blog_archive .blog__sidebar { margin-left: 0; margin-top: 50px; }
  .blog_single [class*="grid_coll"] { width: 100%; }
  .blog_single .blog__sidebar { margin-left: 0; margin-top: 50px; } }

@media only screen and (max-width: 700px) { header .header__action_wrap, header.float .header__action_wrap { display: none; }
  .services_page_title * { font-size: 30px; } }

@media only screen and (max-width: 600px) { /* section_title */
  .section_title * { font-size: 30px; }
  .main_screen__slogan * { font-size: 50px; }
  .section_subtitle * { font-size: 16px; }
  .top_screen .section_title * { font-size: 30px; }
  .our_services__wrap .grid_coll_25 { width: 100%; }
  .decor_line { height: 20px; }
  .reviews__item__img { float: none; margin: 0 auto; }
  .reviews__item__text { margin-left: 0; margin-top: 15px; }
  .our_partners__item__img { float: none; margin: 0 auto; }
  .our_partners__item__text { margin-left: 0; margin-top: 15px; }
  .our_clients__wrap [class*="grid_coll"] { width: 50%; }
  .footer__phone { float: none; }
  .footer__right { float: none; margin-top: 15px; }
  .price_page__list li [class*="grid_coll"] { width: 100%; }
  .price_page__list li .price_page__list__ico:after { display: none; }
  .price_page__list li .price_page__list__title { text-align: center; }
  .price_page__list li .price_page__list__title:after { margin: 0 auto; }
  .price_page__list li .price_page__list__text { margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
